:root {
  --premeri: rgba(248, 247, 154, 0.822);
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
  min-height: 2000px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid rgba(228, 243, 146, 0.664);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--premeri);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 0, 9rem;
  font-weight: 400;
  margin: 0 1rem;
}

/*ini caranya menambah interaktif tools */
.navbar .navbar-nav a:hover {
  color: var(--premeri);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.2rem;
  border-bottom: 0.1rem solid var(--premeri);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-aicon a {
  color: #fff;
  display: inline-block;
  font-size: 0, 9rem;
  font-weight: 400;
  margin: 0 0.5rem;
}

.navbar .navbar-aicon a:hover {
  color: var(--premeri);
}

#hamburger-menu {
  display: none;
}

/* /hero seris/ */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 5%,
    rgba(255, 255, 255, 0) 55%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 3rem;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--premeri);
}

.hero .content p {
  font-size: 1rem;
  margin-top: 0.5rem;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  mix-blend-mode: difference;
}

.hero .content .cta a {
  display: inline-block;
  margin-right: 0.7rem;
  margin-top: 0.5rem;
  padding: 0.7rem 2rem;
  color: #fff;
  font-size: 1rem;
  background-color: var(--premeri);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .cta a:hover {
  background-color: #583807;
}
/* About Section */
.about,
.produk {
  padding: 7rem 7% 1.4rem;
}

.about h2,
.produk {
  text-align: center;
  margin-bottom: 3rem;
}

.about h2 span,
.produk h2 span {
  color: var(--premeri);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1.5rem;
}

.about .row .content h3 {
  font-size: 1.5rem;
  padding-bottom: 0.8rem;
}

.about .row .content h3 span {
  font-style: italic;
  color: #d34b15;
}

.about .row .content h3 span {
  color: var(--premeri);
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.6;
}

/* Produk Section  */
.produk h2 {
  margin: 1rem;
}

.produk .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  justify-content: center;
  gap: 30px; /* jarak antar produk */
}

.produk .row .produk-card {
  text-align: center;
  padding-bottom: 2rem;
  text-align: center;
  color: white; /* biar tulisan terlihat di background hitam */
}

.produk .row .produk-card img {
  width: 60%;
  width: 200px; /* lebar seragam */
  height: 200px; /* tinggi seragam */
  object-fit: cover; /* menjaga proporsi, biar tidak gepeng */
  border-radius: 100px; /* bisa diganti 50% kalau mau bulat */
  display: block;
  margin: 0 auto 10px; /* jarak bawah gambar */
}

.produk .row .produk-card .produk-card-name {
  margin: 1rem auto 0.5rem;
}
/* Produk Section End */

/* Kontak Section */

.kontak {
  text-align: center;
}

.kontak h2 span {
  color: #b7c220;
}

.kontak .row {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
}

.kontak .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.kontak .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.kontak .row form h2 {
  font-weight: 300;
  margin-bottom: 1rem;
}

.kontak .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  background-color: var(--bg);
  border: 1px solid #fff;
  padding-left: 2rem;
}

.kontak .row form .input-group input {
  width: 100%;
  padding: 1rem;
  font-size: 1.3rem;
  background: none;
  color: #ffffff;
}

.kontak .row form .btn {
  margin-top: 2rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  color: #fff;
  border-radius: 10px;
  background-color: var(--primary);
  cursor: pointer;
}

.kontak .row form .btn:hover {
  background-color: #b7c220;
}

/* Footer */
footer {
  background-color: #c8db1bc5;
  text-align: center;
  padding: 1rem 0;
  margin-top: 3rem;
  padding-bottom: 2rem;
}

footer .social {
  padding: 1rem 0;
}

footer .social a {
  color: #fff;
  margin: 1rem;
}

footer .social a:hover,
footer .links a:hover {
  color: #d34b15;
}

footer .links a {
  color: #fff;
  display: inline-block;
  margin: 0 1rem;
}

footer .links {
  margin-bottom: 1rem;
}

footer .credit a {
  color: #dd6d12;
  font-weight: 700;
}

/* Modal Box */
/* Item Detail */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-container {
  position: relative;
  background-color: #fefefe;
  color: var(--bg);
  margin: 15% auto;
  padding: 1.2rem;
  border: 1px solid #666;
  width: 80%;
  animation: animateModal 0.5s;
}

/* Modal Animation */
@keyframes animateModal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-container .close-icon {
  position: absolute;
  right: 1rem;
}

.modal-content {
  display: flex;
  flex-wrap: nowrap;
}

.modal-content img {
  height: 20rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.modal-content p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 1.2rem;
}

.modal-content a {
  display: flex;
  gap: 1rem;
  width: 12rem;
  background-color: var(--primary);
  color: #fff;
  margin-top: 1rem;
  padding: 1rem 1.6rem;
}

/*media seris */

/* /laptop/ */
@media (max-width: 136px) {
  html {
    font-size: 98%;
  }
}

/* /tablet/  */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }
  .about .row,
  .kontak .row {
    flex-wrap: wrap;
  }

  .about .row content h3 {
    text-align: center;
    margin-top: 1rem;
  }
}

/* hp */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
